*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #111827;
}


.header_container{
    height: 80px;
    padding-left: 80px;
    padding-right: 80px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: -webkit-fill-available;
}

.logoleft{
    font-size: 22.56px;
    font-weight: 700;
    color: #ffffff;
}

.centerlinks{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.linkitem{
    font-size: 14px;
    font-weight: 400;
    color: #D1D5DB;
}

.header_cta{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:4px;
    border: 1px solid #6B7280;
    border-radius: 100px;
    background: radial-gradient(#4B5563,#111827);
    padding: 12px 16px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
}

.hamburgermenu{
    display: none;
}

.hero_container{
    padding:80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 24px;
}

.heroheader{
    font-size: 58px;
    font-weight: 900;
    text-align: center;
    /* line-height: 60; */
    background: linear-gradient(to bottom, #FFFFFF, #DFA6FF);
    background-clip: text;
    color: transparent;
    padding: 0px 80px;
    
}

.herosupport{
    font-size: 16px;
    font-weight: 400;
    color: #D1D5DB;
    text-align: center;
    padding: 0px 80px;
}

.herocta{
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9333EA;
    padding: 10px 16px;
    border-radius: 100px;
}

.headerimg{
    padding-top: 60px;
    height: 100%;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
}


.wealthgrowthcontainer{
    margin: 96px 80px;
}

.wealthgrowth{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textpart{
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sectionheader{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
}

.sectionsupport{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
}

.growthtypescontainer{
    display: flex;
    flex-direction: column;
    gap:32px;
    width: 100%;
}

.growthtypes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    /* flex-wrap: wrap; */
}

.type{
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 16px;
gap: 12px;
/* background: radial-gradient(to right, #CBD5E1, #CBD5E1); */
background: #232A39;
stroke: 1px solid #1F2937;
border-radius:12px;
/* flex-wrap: wrap; */
width: 100%;
height: 100%;
/* max-width: max-content; */
min-width: 278px;
/* flex-direction: column; */
/* min-height: max-content; */
}

.typeimage{
    max-height: 48px;
    max-width: 48px;
}


.typeheader{
    font-size: 18px;
    font-weight: 600;
    color:#F9FAFB;
}

.typesupport{
    font-size: 16px;
    font-weight: 400;
    color: #D1D5DB;
    max-width: 350px;
}


.journeystartcontainer{
    width: 100%;
    background: url(assets/all/journeycontainer/Background\ \(3\).png);
    background-position: center;
    background-repeat: none;
    padding: 0px 80px 0px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.journeystart{
    padding: 112px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.journeybox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.journeyheader{
    max-width: 576px;
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
}

.journeysupport{
    font-size: 16px;
    font-weight: 400;
    color:#D1D5DB;
    max-width: 576px;
    text-align: center;
    line-height: 24px;
}

.journeyCTA{
    background-color: #9333EA;
    font-size: 14px;
    font-weight:400;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0px;
    padding: 10px 16px;
    border-radius: 24px;
}


.pricingcontainermain{
    padding: 0px 80px;
}

.pricingcontainer{
    padding: 96px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.pricingheader{
    color: #F9FAFB;
    font-size: 36px;
    font-weight: 600;
    max-width:fit-content;
    text-align: center;
}

.pricingblocks{
display: flex;
align-items: top;
justify-content: space-between;
gap:24px;
min-height: auto;
/* min-width:300px; */
}

.primaryblock{
    border: 1px solid #A855F7;
    border-radius: 12px;
    min-width: 300px;
    background: linear-gradient(to bottom, #1F2937, #2D3D53);
}

.secondaryblock{
    border: 1px solid #1F2937;
    border-radius: 12px;
    min-width: 300px;
}

.blocktop{
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.packname{
    color: #9333EA;
    font-size: 16px;
    font-weight: 400;
}

.packprice{
    color: #F9FAFB;
    font-size: 30px;
    font-weight: 600;
}

.month{
    color: #9CA3AF;
    font-size: 18px;
    font-weight: 400;
}

.packtagline{
    color: #9CA3AF;
    font-size: 16px;
    font-weight: 400;
}


.dividerline{
    width: auto;
    height: 1px;
    background-color: #1F2937;
}

.blockbottom{
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.packbenefit{
    color: #D1D5DB;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 20px;
}

.secondarypricingcta{
    background: #1F2937;
    color: #ffffff;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    border-radius: 180px;
    margin-top: 32px;
}

.primarypricingcta{
    background: #9333EA;
    color: #ffffff;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    border-radius: 180px;
    margin-top: 32px;
}

.infocontainer{
    padding: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.topheading{
    font-size: 35px;
    font-weight: 900;
    color: #F9FAFB;
    text-align: center;
    width: max-content;
}

.topsupport{
    font-size: 16px;
    font-weight: 400;
    color: #D1D5DB;
    text-align: center;
    width: max-content;
}


.bottom{
    /* display: grid; */
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1216px;
}

.que_ans_block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    padding-bottom: 28px;
    max-width: 372px;
}

.question{
    font-size: 16px;
    font-weight: 600;
    color: #F3F4F6;
}

.answer{
    font-size: 14px;
    font-weight: 400;
    color: #D1D5DB;
}

@media only screen and (max-width:1120px){
    .growthtypes{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .type{
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
        width: 100%;
        }
        .pricingblocks{
            display: flex;
            flex-direction: column;
            align-items: top;
            justify-content: space-between;
            gap:24px;
            min-height: auto;
            /* min-width:300px; */
            }
}



/* RESPONSIVE PART STARTS FROM HERE  */


@media only screen and (max-width:768px){

    .header_container{
        /* height: 80px; */
        padding-left: 32px;
        padding-right: 32px;
    }
    .headerimg{
        padding-top: 60px;
        height: 100%;
        width: 100%;
        padding-left: 32px;
        padding-right: 32px;
    }
    .heroheader{
        font-size: 48px;
        padding: 0px 32px;
    }
    .herosupport{
        padding: 0px 32px;
    }
    /* .type{
        width: 100%;
        height: 100%;
    } */
     .wealthgrowthcontainer{
        /* padding: 0px 32px; */
        margin-left: 0px;
        margin-right: 0px;
     }
    .growthtypes{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0px 32px;
    }
    .type{
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
        width: 100%;
        }
    .sectionheader{
        padding: 0px 32px;
    }
  .sectionsupport{
    padding-left: 32px;
    padding-right: 32px;
  }
  .journeystartcontainer{
    padding: 0px 32px 0px 32px;
}

.journeystart{
    padding: 112px 0px;
}
.pricingblocks{
    display: flex;
    align-items: top;
    justify-content: space-between;
    gap:24px;
    min-height: auto;
    /* min-width:300px; */
    }
    .pricingcontainermain{
        padding: 0px 0PX;
        .pricingcontainer{
            padding: 96px 32px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 64px;
        }
    }
}

@media only screen and (max-width:480px){

    .header_container{
        /* height: 80px; */
        padding-left: 16px;
        padding-right: 16px;
    }

    .centerlinks{
      display: none;
    }
    .header_cta{
        display: none;
    }
    .hamburgermenu{
        display: block;
    }

    .heroheader{
        font-size: 34px;
        padding: 0px 16px;
    }

    .herosupport{
        font-size:16px;
    }
    .headerimg{
        padding-top: 60px;
        height: 100%;
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
    .herosupport{
        padding: 0px 16px;
    }
    .growthtypes{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;
    }
    .type{
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
        width: 100%;
        }
        .sectionheader{
            padding: 0px 16px;
        }
      .sectionsupport{
        padding-left: 16px;
        padding-right: 16px;
      }
      .journeystartcontainer{
        padding: 0px 16px 0px 16px;
    }
    
    .journeystart{
        padding: 112px 0px;
    }
    .journeyheader{
        font-size: 30px;
    }
    .pricingblocks{
        display: flex;
        align-items: top;
        justify-content: space-between;
        gap:24px;
        min-height: auto;
        /* min-width:300px; */
        }
        .pricingcontainermain{
            padding: 0px 16px;
        }
        .pricingcontainer{
            padding: 64px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 64px;
        }
        .pricingheader{
            color: #F9FAFB;
            font-size: 30px;
            font-weight: 600;
            max-width:fit-content;
            text-align: center;
        }
        
}
