*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #111827;
}


.header_container{
    height: 80px;
    padding-left: 80px;
    padding-right: 80px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: -webkit-fill-available;
}

.logoleft{
    font-size: 22.56px;
    font-weight: 700;
    color: #ffffff;
}

.centerlinks{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.linkitem{
    font-size: 14px;
    font-weight: 400;
    color: #D1D5DB;
}

.header_cta{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:4px;
    border: 1px solid #6B7280;
    border-radius: 100px;
    background: radial-gradient(#4B5563,#111827);
    padding: 12px 16px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
}

.hamburgermenu{
    display: none;
}

.hero_container{
    padding:80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 24px;
}

.heroheader{
    font-size: 58px;
    font-weight: 900;
    text-align: center;
    /* line-height: 60; */
    background: linear-gradient(to bottom, #FFFFFF, #DFA6FF);
    background-clip: text;
    color: transparent;
    padding: 0px 80px;
    
}

.herosupport{
    font-size: 16px;
    font-weight: 400;
    color: #D1D5DB;
    text-align: center;
    padding: 0px 80px;
}

.herocta{
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9333EA;
    padding: 10px 16px;
    border-radius: 100px;
}

.headerimg{
    padding-top: 60px;
    height: 100%;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
}


/* RESPONSIVE PART STARTS FROM HERE  */


@media only screen and (max-width:768px){

    .header_container{
        /* height: 80px; */
        padding-left: 32px;
        padding-right: 32px;
    }
    .headerimg{
        padding-top: 60px;
        height: 100%;
        width: 100%;
        padding-left: 32px;
        padding-right: 32px;
    }
    .heroheader{
        font-size: 48px;
        padding: 0px 32px;
    }
    .herosupport{
        padding: 0px 32px;
    }
}

@media only screen and (max-width:480px){

    .header_container{
        /* height: 80px; */
        padding-left: 16px;
        padding-right: 16px;
    }

    .centerlinks{
      display: none;
    }
    .header_cta{
        display: none;
    }
    .hamburgermenu{
        display: block;
    }

    .heroheader{
        font-size: 34px;
        padding: 0px 16px;
    }

    .herosupport{
        font-size:16px;
    }
    .headerimg{
        padding-top: 60px;
        height: 100%;
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
    .herosupport{
        padding: 0px 16px;
    }
}